<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hosts log page</title>
</head>

<body>
  <h3>host : {{host}}</h3>
    <form action="" method="POST">
      <p>
        <label for="from">From : </label>
        <input type="text" name="from" id ="from" value={{from_time}}>
      </p>
      <p>
        <label for="to">To : </label>
        <input type="text" name="to" id ="to" value={{to_time}}>
      </p>
      <p>
        <input type="submit" value="send">
      </p>
    </form>
    <table class=\"table\">
        <tr>
            <th>Timestamp</th>
            <th>state</th>
        </tr>
      {% for l in datas %}
        <tr>
            <td>

                {{l[1]}}
            </td>
            <td>
                {% if  l[0] == 0 %}
                    inactive
                {% else %}
                    active
                {% endif %}
            </td>

        </tr>
      {% endfor %}
    </table>
</body>
</html>

<style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
</style>
