<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hosts log page</title>
</head>

<body>
  <h3>Hosts daily logs</h3>
    <h4>valid arguments are from and to </h4>
    <img src="{{ url_for('static', filename='images/lastday.png') }}" class="image" />
    <ul>
      {% for host in hosts %}
        <li><a href={{ url_for('data',host=host) }}>{{host}}</a>
      {% endfor %}
    </ul>

</body>
</html>

<style>
  .image {
    height: 480px;
  }
</style>
